/* Universal rules */

* {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
}

/* Character rules */
h2 {
    font-size: 35px;
    transition: ease 0.3s;
}

h2:hover {
    font-size: 40px;
    transition: ease 0.3s;
}

h4 {
    font-size: 20px;
}


/* Element rules */
nav {
    height: 69px;

    border-bottom: 1px solid seashell;

    display: flex;
    align-items: center;
    position: fixed;
    width: 90%;
    margin: 5px 5% 0 5%;
    border-radius: 10px;
    background-color: rgba(15, 15, 15, 1);
}

nav img {
    padding: 0 35px;
    background-color: transparent;
}

nav div {
    display: flex;
    justify-content: flex-end;
    padding: 2px;
    flex-grow: 1;
    background-color: transparent;
}

nav div a {
    padding: 0 35px;
    text-decoration: underline;
    transition: 0.3s ease;
    white-space: nowrap;
    background-color: transparent;
}

nav div a:hover {
    cursor: pointer;
}

nav div a:active {
    color: royalblue;
    transition: 0.3s ease;
}

#mission {
    background-image: url('./assets/img-mission-background.jpg');
    height: 700px;

    display: flex;

    align-items: center;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#mission-text {
    display: block;
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

#mission-text h2, #mission-text h4 {
    background-color: transparent;
}

/* Tea Types rules */

#teaofmonth h2 {
    margin-top: 40px;
}

#teaofmonth h4, #teaofmonth h2 {
    text-align: center;
}

#teaTypes  {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#teaTypes img {
    height: 200px;
    width: 300px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    transition: 0.5s ease;
}

#teaTypes img:hover {
    height: 220px;
    width: 330px;
    margin-left: 25px;
    margin-right: 25px;
    transition: 0.5s ease;
}

#teaTypes h4 {
    margin: 10px auto 30px auto;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
}

/* Locations */

#locations {
    background-image: url('./assets/img-locations-background.jpg');
    min-height: 600px;

    display: flex;
    margin-top: 50px;

    align-items: center;
    flex-direction: column;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#locations #locations-title {
    display: flex;
    justify-content: center;
    background-color: transparent;
    padding-top: 20px;
}

#locations #locations-title h2 {
    background-color: transparent;
}

#locations #locations-datablocks {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: transparent
}

#locations-datablocks div {
    display: flex;
    width: 300px;
    height: auto;
    flex-direction: column;
    text-align: center;
    margin: 50px 20px 20px 20px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    transition: ease 0.3s;
}

#locations-datablocks div:hover {
    width: 350px;
    background-color: rgba(0, 0, 0, 1);
    transition: ease 0.3s;
}

#locations-datablocks div h4 {
    font-size: 25px;
}

#locations-datablocks div h4, #locations-datablocks div p {
    background-color: transparent;
}

/* Contact rules */

#contact {
    display: flex;
    flex-direction: column;
    height: 200px;
    align-items: center;
    margin-top: 30px;
}

#contact a {
    color: rgba(255, 255, 255, 0.7);
    transition: ease 0.3s;
}

#contact h2, #contact h5 {
    margin: 15px 0;
}

#contact a:hover {
    color: rgba(255, 255, 255, 1);
    transition: ease 0.3s;
}

#contact a:active {
    color: royalblue;
    transition: ease 0.3s;
}

/* Copyright rules */

#copyright {
    display: flex;
    width: 100%;
    align-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
} 

#copyright p {
    font-size: 13px;
    margin: 2px 15px;
    color: rgba(255, 255, 255, 0.6);
}

#copyright a {
    font-size: 13px;
    color:rgba(255, 255, 255, 1);
    transition: 0.3s ease;
}

#copyright a:active {
    color: royalblue;
    transition: 0.3s ease;
}


/* NEW: Color scheme for light mode */
@media (prefers-color-scheme: light) {

    * {
        color: black;
        background-color: white;
    }

    nav {
        background-color: rgba(250, 250, 250, 1);
        border-bottom: 2px solid rgba(0, 0, 0, 0.8);
    }

    nav img {
        filter: invert(100%); /* the filter function is set to the value invert, which inverts
        all the colors in an image. 100% is the intensity. */
    }

    nav div a:active {
        color: blue;
    }

    #mission-text {
        background-color: rgba(255, 255, 255, 0.7);
    }

    #locations-datablocks div {
        background-color: rgba(255, 255, 255, 0.5);
    }

    #locations-datablocks div:hover {
        background-color: rgba(255, 255, 255, 1);
    }

    #teaTypes h4 {
        color: rgba(0, 0, 0, 0.8);
    }

    #contact a{
        color:rgba(0, 0, 0, 0.7);
    }

    #contact a:hover {
        color: rgba(0, 0, 0, 1);
    }

    #contact a:active {
        color: blue;
    }

    #copyright p {
        color: rgba(0, 0, 0, 0.6);
    }

    #copyright a {
        color: rgba(0, 0, 0, 1);
    }

    #copyright a:active {
        color: blue;
    }
}

@media (max-width: 799px) {

    nav div {
        display: none;
    }

    nav {
        justify-content: center;
        width: 40%;
        min-width: 200px;
        margin-left: 30%;
        margin-right: 30%;
        height: auto;
        background-color: rgba(0, 0, 0, 1);
    }

    nav img {
        height: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
        transition: ease 0.5s;
    }

    nav img:hover {
        height: 50px;
        padding-top: 15px;
        padding-bottom: 15px;
        transition: ease 0.5s;
    }

    @media (prefers-color-scheme: light) {
        nav {
            background-color: rgba(255, 255, 255, 1);
        }
    }
}